* {
    box-sizing: border-box;
    padding: 0;
}

body {
    color: #31333d;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 15px 0px;
    background-color: #31343d;
    display:flex;
    position:sticky;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    text-indent: 50px;
    background-color: #92cccd;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    color: #92cccd;
    font-size: 1.5vw;
    font-weight: bold;
    text-underline-offset: 20%;
    text-decoration-thickness: 5px;
}

header nav ul li a:hover {
    color:lightcoral;
}

section {
    padding: 60px;
}

.hero {
    background-image: url('./images/hero-bg.jpg');
    background-size:cover;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items:flex-start;
    background-attachment: scroll;
    background-position: 80%;
    width: 100%;
    padding-top: 400px;

}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1250px;
}

.intro {
    margin: 0 0;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items:left;
    justify-content: left;
    margin-left: 0;
} 

.about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration-color: #445877;
    margin-bottom: 10px;
}

.about-me h2 {
    display:flex;
    flex-wrap: wrap;
    font-size: 46px;
    flex: 1 55px;
    text-align: right;
    margin-right: 10px;
    border-right: 5px solid;
    height: 290px;
    padding-right: 10px;
    padding-left: 40px;
}

.about-me-text {
    flex: 12;
}

.about-me-text p {
    color: #6a5876;
    font-size: 22px;
    font-weight: bold;
    line-height: 2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
}

.work {
    float: left;
    align-items: center;
    text-decoration-color: #445877;
}

.work h2 {
    float: left;
    font-size: 46px;
    flex: 1 55px;
    text-align: right;
    margin-right: 10px;
    border-right: 5px solid;
    height: 800px;
    padding-right: 10px;
    padding-left: 60px;
}

.work-img {
    display: flex;
    flex-wrap: wrap;
    padding-left:10px;
}

#overlay-large {
    width: 750px;
    height: 500px;
    margin: 10px 10px 10px 10px;
}

#overlay-small {
    width: 375px;
    height: 250px;
    margin: 10px 10px 10px 10px;
}

.overlay-text {
    position: absolute;
    color: aqua;
    font-size: 20px;
    background-color: #445877;
}



#overlay-large:hover {
    opacity: 40%;
}

#overlay-small:hover {
    opacity: 40%;
}

.contact {
    margin: 50px 0;
    padding-bottom: 50px;
    width: 100%;
    align-items:center;
    justify-content: right;
    margin-left: 0;
}

.contact h2 {
    float:left;
    font-size: 46px;
    text-align: right;
    margin-right: 10px;
    border-right: 5px solid;
    height: 200px;
    padding-right: 10px;
}

.contact-text{
    flex:12;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    list-style:none;
    line-height: 300%;
}

.contact ul li a {
    margin: 0 30px 10px 10px;
    color: #31343d;
    font-size: 1.3vw;
    font-weight: bold;
    text-underline-offset: 20%;
    text-decoration-thickness: 5px;
}

.contact li a:hover {
    color: lightcoral;
}